@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100..700,0..1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

@import "tailwindcss";

/* Force light theme by making the dark variant depend on a class that is never used */
@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #0055ff;
  --color-background-light: #f5f6f8;
  --color-background-dark: #0f1623;
  --font-display: "Inter", sans-serif;
}

body {
  font-family: 'Inter', sans-serif;
}

.material-symbols-outlined {
  font-size: 24px;
}

/* Datepicker Z-Index Fix */
.react-datepicker-popper {
  z-index: 9999 !important;
}

@keyframes pulse-slow {
  0%, 100% { opacity: 0.1; }
  50% { opacity: 0.3; }
}

.animate-pulse-slow {
  animation: pulse-slow 8s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

/* Scrollbar Hide Utility */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
